.container {
  margin-top: 20px;
}

.centred-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.berlin-clock {
  background-color: aliceblue;
  height: 50vh;
}

.text-clock {
  margin-top: 10px;
}
